 body {
    background-color: #282a36;
    color: #f8f8f2;
    }
   
    .swagger-ui .topbar {
    background-color: #282a36;
    }
   
    .swagger-ui .scheme-container {
    background-color: #282a36;
    }
   
   